@if (isOpenSidebar()) {
  <div
    class="fixed inset-0 bg-gray-600/55 dark:bg-primary-dark/55 z-40"
    (click)="layoutServices.closeSidebar()"
  ></div>
}
<aside
  class="bg-primary-dark h-screen transition-all duration-300 ease-in-out p-4 overflow-y-auto fixed z-100 translate-x-0 shadow-lg dark:bg-linear-to-b dark:bg-dark dark:text-primary dark:border-r dark:border-gray-700 lg:translate-x-0"
  [class.w-74]="isOpenSidebar()"
  [class.w-26]="!isOpenSidebar()"
  [class.translate-x-[-100%]]="!isOpenSidebar()"
>
  @if (!isOpenSidebar()) {
    <fa-icon
      [icon]="arrowRight"
      class="flex items-center gap-3 px-4 py-3 transition-all duration-200 cursor-pointer mb-1 text-2xl dark:text-primary justify-center"
      (click)="layoutServices.toggleSidebar()"
    ></fa-icon>
  } @else {
    <div class="flex items-center justify-between dark:text-gray-200 cursor-pointer">
      <div class="flex items-center gap-2" routerLink="/dashboard">
        <fa-icon [icon]="KiwiBird" class="text-3xl cursor-pointer dark:text-primary"></fa-icon>
        <div class="flex flex-col">
          <h1 class="text-xl font-semibold">Admin</h1>
          <h1 class="text-xl font-semibold">Dashboard</h1>
        </div>
      </div>

      <fa-icon
        [icon]="arrowLeft"
        class="flex gap-3 py-3 transition-all cursor-pointer mb-1 text-2xl dark:text-primary"
        (click)="layoutServices.toggleSidebar()"
      ></fa-icon>
    </div>
  }
  <!-- pages -->
  <div class="my-4">
    <p class="dark:text-gray-400 mb-2">pages</p>

    <a
      routerLink="/dashboard"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="Home" class="text-xl"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Dashboard</p>
      }
    </a>

    <a
      routerLink="/users"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-apointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="Users" class="text-xl cursor-pointer"></fa-icon>

      @if (isOpenSidebar()) {
        <p>Users</p>
      }
    </a>

    <a
      routerLink="/products"
      routerLinkActive="bg-primary-dark text-white  dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="Industry" class="text-xl cursor-pointer"></fa-icon>

      @if (isOpenSidebar()) {
        <p>Products</p>
      }
    </a>
    <a
      routerLink="/orders"
      routerLinkActive="bg-primary-dark text-white  dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="CartShopping" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Orders</p>
      }
    </a>
    <a
      routerLink="/calendar"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="Calendar" class="text-xl cursor-pointer"></fa-icon>

      @if (isOpenSidebar()) {
        <p>Calendar</p>
      }
    </a>
    <a
      routerLink="/faq"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="QuestionCircle" class="text-xl cursor-pointer"></fa-icon>

      @if (isOpenSidebar()) {
        <p>FAQ</p>
      }
    </a>
  </div>
  <!-- Analytics -->

  <div class="my-4">
    <p class="dark:text-gray-400 mb-2">Analytics</p>
    <a
      routerLink="/pieChart"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="PieChart" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Pie Chart</p>
      }
    </a>

    <a
      routerLink="/lineChart"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="ChartLine" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Line Chart</p>
      }
    </a>
    <a
      routerLink="/barChart"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="ChartBar" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Bar Chart</p>
      }
    </a>
    <a
      routerLink="/horizontalBarChart"
      routerLinkActive="bg-primary-dark text-white  dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="horizontalChart" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Horizontal Chart</p>
      }
    </a>
  </div>

  <!-- profile -->
  <div class="my-4">
    <p class="dark:text-gray-400 mb-2">Profile</p>
    <a
      routerLink="/profile"
      routerLinkActive="bg-primary-dark text-white dark:text-gray-300"
      class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-primary-dark hover:text-white transition-all duration-200 cursor-pointer mb-1 dark:hover:text-gray-300"
      [class.justify-center]="!isOpenSidebar()"
    >
      <fa-icon [icon]="user" class="text-xl cursor-pointer"></fa-icon>
      @if (isOpenSidebar()) {
        <p>Profile</p>
      }
    </a>
  </div>
</aside>
